.flex-container
{display: flex;

}

.flex-items
{display: flex; margin: 3cm;
    
}

    /* Grid  
    ================================== */

.row {
    display: flex; 
flex-direction: row; -ms-grid-row: var(after);
    
}

[class*='col-'] {float: left;}



