.flex-container
{display: flex;

}

.flex-items
{display: flex; margin: 3cm;
    flex-direction: row;
}

    /* Grid  
    ================================== */

.row {
    display: flex; float: left; 

    
}

[class*='col-'] {flex-direction: row}



