body {background-color: aqua;}
main {border: 3cm 2px solid powderblue; padding: 3px;}
/* Grid ============================== */
ul.row {display: flex;}
row::after {float: left;}
[class*='col-'] {float: left; padding: 0.5rem;}