.services {src: format(section-services);}
.works {src: format(section-works);}
.about {src: format(section-about-us);}
.latest_news {src: format(section-latest-news);}
.testimonal {src: format(section-testimonal);}
.contact {src: format(section-contact);}